@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Type selectors below */

body{
    font-family: "Comic Neue", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 100px;
    text-align: center;
    padding: 60px;
    margin-bottom: 50px;
}

button{
    font-size: 50px;
    padding: 40px;
    background-color: black;
    color: white;
}

/* ID selectors */

#container{
    display: flex;
    flex-direction: column;
}

#buttons{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}